{% extends 'SEEKER/newindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style>
        th {
            background-color: #b21f2d
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table border="1" class="table table-bordered">
  <tr style="background-color: #b21f2d">
    <th scope="col"style="background-color: #b21f2d">#</th>
    <th style="background-color: #b21f2d">BLOODGROUP</th>
    <th style="background-color: #b21f2d">QUANTITY</th>
    <th style="background-color: #b21f2d">DATE</th>
    <th style="background-color: #b21f2d">STATUS</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}&nbsp;</td>
    <td>{{ i.BLOOD_ID.blood_name }}&nbsp;</td>
    <td>{{ i.quantity}}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.status }}</td>
{#    {% if i.status == "pending" %}#}
{#    <td><p><a href="/verifyrequest/{{ i.id }}">ACCEPT</a></p>#}
{#    <p><a href="/reqproceed/{{ i.id }}">PROCEED TO DONOR</a></p></td>#}
{#        {% elif i.status == "Needed" %}#}
{#        <td colspan="2" align="center">#}
{#        <a href="/willing_donor/{{ i.id }}">View Willingness</a>#}
{#        </td>#}
{#    {% endif %}#}
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}
