{% extends 'admin/newindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1"class="table table-bordered">
 
  <tr>
    <td><a href="/donorverify">donorverify</a></td>
  </tr>
  <tr>
    <td><a href="/seekerverify">seekerverify</a></td>
  </tr>
  <tr>
    <td><a href="/verifieddonor">verifieddonor</a></td>
  </tr>
  <tr>
    <td><a href="/verifiedseeker">verifiedseeker</a></td>
  </tr>
  <tr>
    <td><a href="/viewrequest">viewrequest</a></td>
  </tr>
  <tr>
    <td><a href="/viewrequest">verifyrequest</a></td>
  </tr>
  <tr>
    <td><a href="/donorhistory">donorhistory</a></td>
  </tr>
  <tr>
    <td><a href="/viewhistory">viewhistory</a></td>
  </tr>
 
</table>
</body>
</html>
{% endblock %}
