{% extends 'admin/newindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style>
        th {
            background-color: #b21f2d
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1" class="table table-bordered">
  <tr style="background-color: #b21f2d">
    <th scope="col"style="background-color: #b21f2d">#</th>
    <th scope="col"style="background-color: #b21f2d">NAME</th>
    <th scope="col"style="background-color: #b21f2d">GENDER</th>
    <th scope="col"style="background-color: #b21f2d">BLOOD GROUP</th>
    {# <th scope="col">ADDRESS</th>#}
    <th scope="col"style="background-color: #b21f2d">PHONE NUMBER</th>
    <th scope="col"style="background-color: #b21f2d">EMAIL</th>
  </tr>
    {% for i in data %}
  <tr>
        <td>{{ forloop.counter }}</td>
    <td>{{ i.name }}&nbsp;</td>
    <td>{{ i.gender }}&nbsp;</td>
    <td>{{ i.BLOOD_ID.blood_name }}&nbsp;</td>
{#    <td>{{ i.house }}<br>{{ i.post }}<br>{{ i.pin }}&nbsp;</td>#}
    <td>{{ i.phone }}</td>
    <td>{{ i.email }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}
